// main: style.less
/* Variable */
@import url( 'https://fonts.googleapis.com/css?family=Fira+Mono|Roboto+Condensed');
@largeur_article: 250px;
@couleur-icone: #f9d42a;
@couleur-lienMenu: #fff;
@couleur-base: #e3d47f;
@couleur-complementaire: spin(@couleur-base, 180); // @couleur-contrast : contrast(@couleur-base);
@couleur-contrast: contrast(@couleur-base);
@couleur-1: fade(lighten(blue,10%),75%);
@couleur-2: fade(lighten(red,10%),75%);
@couleur-3: fade(lighten(green,10%),75%);
@couleur-4: transparent;
/* pour le debuggage on met une bordure autour de chacun des éléments

* {border: 1px solid #aaa;}
*/


body {
    display: flex;
    flex-direction: column;
    font-family: arial;

    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50em;
    margin-bottom: 200em;
}

section{
   width: 90%;
   display: flex;
   margin: 0 auto;
}

article{
   width: 25%;

   position: relative;
}

article svg{
   position: fixed;
   width: 25%;
}
