// main: style.less

svg{
   width: 100%;
   height: 100%;
}

svg:hover{
   stroke: #FFF;
   stroke-width: 0.2px;
   transition-duration: 0.5px;
}


.svg1 {
   stroke: black;
   stroke-width: 0.1px;
}

.svg1:hover{
   fill: red;
   transition-duration: 0.5s;
}
